:root {
  --main-color: #2f303a;
  --secondary-color: #2196f3;
  --third-plan-color: #f5f4fa;
}

body{
  font-family: Roboto;
}
/* header */

.header-item :hover {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-mail :hover {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-phone :hover {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

/* hero section */

.hero-section {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  flex-shrink: 0;
}

.hero-title {
  display: flex;
  width: 696px;
  height: 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.hero-button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
}

/* main */

.main-hthird {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
}

.main-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
  flex-shrink: 0;
}

.main-subtitle {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.main-staff {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.main-section_staff {
  background: #f5f4fa;
  width: 1600px;
  height: 648px;
  flex-shrink: 0;
}

/* footer */

.footer {
  background: #2f303a;
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
}

.footer-addres {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-mail :hover {
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-phone :hover {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
