ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

:root {
  --link-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.body {
  font-family: "Roboto";
}

.footer__logo--color, .footer__logo, .header__logo--color, .header__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.about__item:nth-child(4):before, .about__item:nth-child(3)::before, .about__item:nth-child(2)::before, .about__item:nth-child(1)::before {
  background-repeat: no-repeat;
  background-position: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .hero-modal {
  transform: scale(0.5);
}

.hero-modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 40px 40px 40px;
  z-index: 1;
  transform: scale(1);
  transition-property: transform, opacity;
  transition-duration: 1000ms;
}
@media screen and (min-width: 768px) {
  .hero-modal {
    width: 450px;
    height: 609px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-modal {
    width: 528px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    padding: 14px 40px 40px 40px;
    z-index: 1;
    transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 1000ms;
  }
}
.hero-modal__btn--close {
  margin-left: 450px;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 170ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .hero-modal__btn--close {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-modal__btn--close {
    margin-left: 450px;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 170ms ease-in-out;
  }
}
.hero-modal__btn--close:hover {
  fill: #2196f3;
}
.hero-modal__close--svg {
  width: 18px;
  height: 18px;
}
.hero-modal__subtitle {
  outline: solid red;
  width: 370px;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .hero-modal__subtitle {
    width: 370px;
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }
}
.hero-modal__form {
  display: flex;
  flex-direction: column;
}
.hero-modal__label {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
@media screen and (min-width: 1280px) {
  .hero-modal__label {
    color: #757575;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}
.hero-modal__box:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.hero-modal__box {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: fill 250ms ease-in-out, border 250ms ease-in-out;
}
.hero-modal__icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 15px;
}
.hero-modal__input {
  outline: none;
  border: none;
}
@media screen and (min-width: 768px) {
  .hero-modal__input {
    width: 370px;
    height: 40px;
    flex-shrink: 0;
  }
}
.hero-modal__comment {
  border: none;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
}
.hero-modal__confirm {
  text-align: center;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.hero-modal__checkbox {
  color: #757575;
  border-radius: 4px;
  fill: #212121;
  margin-left: 7px;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.hero-modal__link {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.hero-modal__btn {
  margin-top: 30px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  margin-left: 120px;
}
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  text-decoration: none;
}
.header__logo--color {
  color: #2196f3;
  font-style: normal;
  line-height: normal;
}
.header__nav {
  width: 100%;
  margin-left: 93px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-left: 44px;
    padding-right: auto;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: flex;
    margin-left: 93px;
  }
}
.header__burger {
  margin-left: auto;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__burger {
    display: none;
  }
}
.header__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__link::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -32px;
  transition: background 175ms ease-in-out, opacity 175ms ease-in-out;
}
.header__link:hover::after {
  opacity: 1;
}
.header__link {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: color 250ms ease-in-out;
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__contact--list {
  list-style-type: none;
  display: none;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contact--list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .header__contact--list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: nowrap;
  }
}
.header__contact--item {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contact--item {
    display: flex;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .header__contact--item {
    padding-bottom: 0px;
  }
}
.header__contact--icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__contact--email {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition: color 250ms ease-in-out;
}
.header__contact--email:hover, .header__contact--email:focus {
  color: #2196f3;
}
.header__contact--tell {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-wrap: nowrap;
  display: flex;
  transition: color 250ms ease-in-out;
}
.header__contact--tell:hover, .header__contact--tell:focus {
  color: #2196f3;
}

.hero {
  outline: solid red;
  width: auto;
  height: 400px;
  flex-shrink: 0;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 198px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)), url("../img/background.webp");
  background-size: 100% 600px;
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-shrink: 0;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)), url("../img/background.webp");
    background-size: 100% 600px;
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px; /* 161.538% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-family: "Roboto";
    color: white;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.hero__button {
  border-radius: 4px;
  background: #2196f3;
  width: 216px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-property: opacity;
  transition-duration: 2500ms;
}

.about {
  padding-top: 94px;
}
.about__list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  list-style-type: none;
}
.about__item:nth-child(1)::before {
  background-image: url("../img/antenna.webp");
}
.about__item:nth-child(2)::before {
  background-image: url("../img/clock.webp");
}
.about__item:nth-child(3)::before {
  background-image: url("../img/diagram.webp");
}
.about__item:nth-child(4):before {
  background-image: url("../img/astronaut.webp");
}
.about__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.about__title {
  color: var(--title-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24;
  letter-spacing: 0.42px;
}

.wwd {
  padding-top: 94px;
  padding-bottom: 94px;
}
.wwd__title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.wwd__list {
  list-style-type: none;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.wwd__item {
  position: relative;
}
.wwd__item > .wwd__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  top: 224px;
  margin: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.staff {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.staff__title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.staff__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.staff__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  transition: box-shadow 1000ms ease-in-out;
}
.staff__item:hover {
  box-shadow: 3px 4px 6px 2px #1a53a8;
  transform: scale(1.03);
}
.staff__img {
  margin-bottom: 30px;
}
.staff__list--title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.staff__text {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.staff__list--social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.staff__link:hover, .staff__link:focus {
  background-color: #2196f3;
}
.staff__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
  transition: background-color 250ms ease-in-out;
}
.staff__link:hover, .staff__link--social:hover, .staff__link:focus, .staff__link--social:focus {
  fill: white;
}
.staff__link--social {
  width: 20px;
  height: 20px;
  transition: fill 250ms ease-in-out;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__heading {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 30px;
}
.clients__item:hover, .clients__item:focus {
  border-radius: 4px;
  fill: #2196f3;
  border: 1px solid #2196f3;
}
.clients__item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms ease-in-out, border 250ms ease-in-out;
}

.footer-section {
  background: #2f303a;
  height: 252px;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  color: #fff;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer__logo--color {
  color: #2196f3;
  font-style: normal;
  line-height: normal;
}
.footer__adress {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms ease-in-out;
}
.footer__adress:hover, .footer__adress:focus {
  color: #2196f3;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer__phone {
  transition: color 250ms ease-in-out;
}
.footer__enevlope {
  transition: color 250ms ease-in-out;
}
.footer__phone:hover, .footer__phone:focus {
  color: #2196f3;
}
.footer__enevlope:hover, .footer__enevlope:focus {
  color: #2196f3;
}
.footer__contact--icon {
  margin-right: 10px;
  fill: currentColor;
}
.footer__subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__list--social {
  display: flex;
  gap: 10px;
}
.footer__item--social:hover, .footer__item--social:focus {
  background-color: #2196f3;
}
.footer__item--social {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in-out;
}
.footer__link--social {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer__subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
  gap: 12px;
}
.footer__label {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  margin-left: 16px;
  border: none;
  outline: none;
  background: #2f303a;
}
.footer__btn {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__btn--icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}/*# sourceMappingURL=style.css.map */