.about {
  padding-top: 94px;

  &__list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    list-style-type: none;
  }
  &__item:nth-child(1)::before {
    background-image: url("../img/antenna.webp");
    @extend %about_item;
  }

  &__item:nth-child(2)::before {
    background-image: url("../img/clock.webp");
    @extend %about_item;
  }

  &__item:nth-child(3)::before {
    background-image: url("../img/diagram.webp");
    @extend %about_item;
  }

  &__item:nth-child(4):before {
    background-image: url("../img/astronaut.webp");
    @extend %about_item;
  }
  &__item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
  }
  &__title {
    color: var(--title-color);
    @include text-main-style(14px 700 normal 0.42px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    color: var(--text-color);
    @include text-main-style(14px 400 24 0.42px);
  }
}
