.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &__heading {
    color: var(--title-color);
    text-align: center;
    @include text-main-style(36px, 700, normal, 1.08px);
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item:hover,
  &__item:focus {
    border-radius: 4px;
    fill: #2196f3;
    border: 1px solid #2196f3;
  }

  &__item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition: fill 250ms ease-in-out, border 250ms ease-in-out;
  }
}
