.footer-section {
  background: #2f303a;
  height: 252px;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    color: #fff;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  &__logo--color {
    color: #2196f3;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }

  &__adress {
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    text-decoration: none;
    margin-bottom: 9px;
    transition: color 250ms ease-in-out;
  }

  &__adress:hover,
  &__adress:focus {
    color: #2196f3;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    text-decoration: none;
    margin-bottom: 9px;
  }

  &__phone {
    transition: color 250ms ease-in-out;
  }

  &__enevlope {
    transition: color 250ms ease-in-out;
  }

  &__phone:hover,
  &__phone:focus {
    color: #2196f3;
  }

  &__enevlope:hover,
  &__enevlope:focus {
    color: #2196f3;
  }

  &__contact--icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list--social {
    display: flex;
    gap: 10px;
  }

  &__item--social:hover,
  &__item--social:focus {
    background-color: #2196f3;
  }

  &__item--social {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in-out;
  }

  &__link--social {
    width: 20px;
    height: 20px;
    fill: white;
  }

  &__subtitle {
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    gap: 12px;
  }

  &__label {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
  }

  &__input {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    margin-left: 16px;
    border: none;
    outline: none;
    background: #2f303a;
  }

  &__btn {
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__btn--icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}