.footer-section {
  background: #2f303a;
  height: 100%;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: nowrap;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 70px;
      align-items: flex-start;
    }
  }

  &__logo {
    color: #fff;
    @extend %header_logo;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 20px;
  }

  &__logo--color {
    color: #2196f3;
    @extend %header_logo;
    font-style: normal;
    line-height: normal;
  }

  &__adress {
    color: #fff;
    @include text-main-style(14px, 700, normal, 0.42px);
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 250ms ease-in-out;
  }

  &__adress:hover,
  &__adress:focus {
    color: #2196f3;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    @include text-main-style(14px, 700, normal, 0.42px);
    text-decoration: none;
    margin-bottom: 8px;
  }

  &__phone {
    transition: color 250ms ease-in-out;
  }

  &__enevlope {
    transition: color 250ms ease-in-out;
  }

  &__phone:hover,
  &__phone:focus {
    color: #2196f3;
  }

  &__enevlope:hover,
  &__enevlope:focus {
    color: #2196f3;
  }

  &__contact--icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    color: #fff;
    @include text-main-style(14px, 700, normal, 0.42px);
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-top: 0px; 
    }
    @media screen and (min-width: 1280px) {
      text-align: start;
    }
  }

  &__list--social {
    display: flex;
    gap: 10px;
  }

  &__item--social:hover,
  &__item--social:focus {
    background-color: #2196f3;
  }

  &__item--social {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in-out;
  }

  &__link--social {
    width: 20px;
    height: 20px;
    fill: white;
  }

  &__subtitle {
    color: #fff;
    @include text-main-style(14px, 700, normal, 0.42px);
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__label {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
  }

  &__input {
    width: 358px;
    color: rgba(255, 255, 255, 0.6);
    @include text-main-style(16px, 400, 20px, 0.48px);
    margin-left: 16px;
    border: none;
    outline: none;
    background: #2f303a;
  }

  &__btn {
    color: #fff;
    text-align: center;
    @include text-main-style(16px, 700, 30px, 0.96px);
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn--icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  &__box {
    @media screen and (min-width:1280px) {
      margin-right: 93px;
    }
  }

  &__field {
    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 0px;
    }
  }
}