.hero {
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
    url("../../adaptived-img/mobile/bg@mobile-1x.webp");
  background-size: 100% 600px;
  @media screen and (min-width: 767px) {
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
        url("../adaptived-img/mobile/bg@mobile-2x.webp");
    }
  }
  @media screen and (min-width: 768px) {
    background-size: 100% 600px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
      url("../adaptived-img/tablet/bg@tablet-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
        url("../adaptived-img/tablet/bg@tablet-2x.webp");
    }
  }
  @media screen and (min-width: 1280px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
      url("../adaptived-img/desktop/bg@desktop-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
        url("../adaptived-img/desktop/bg@desktop-2x.webp");
    }
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 162%;
    letter-spacing: 0.06em;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1280px) {
      max-width: 696px;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 44px;
      font-style: normal;
      font-weight: 900;
      line-height: 60px;
      /* 136.364% */
      letter-spacing: 2.64px;
      text-transform: uppercase;
    }
  }

  &__button {
    border-radius: 4px;
    background: #2196f3;
    width: 216px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 2500ms;
  }
}
