@mixin text-main-style ($font-size, $font-weight, $line-height, $letter-spacing) {
  font-family: "Roboto";
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
