.mobile-menu {
    z-index: 3;
    padding-left: 40px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 48px;
    // display: flex;\
    @media screen and (min-width: 768px) {
        display: none;
    }
    &__box {
        display: flex;
        // justify-content: start;
        // align-items: center;
    }
    &__btn--close {
        width: 40px;
        height: 40px;
        justify-self: end;
    }
    &__list {
        flex-direction: column;
        display: flex;
        gap: 32px;
    }
}