.staff {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;

  &__title {
    color: var(--title-color);
    text-align: center;
    @include text-main-style(36px 700 normal 1.08px);
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    transition: box-shadow 1000ms ease-in-out;
  }

  &__item:hover {
    box-shadow: 3px 4px 6px 2px #1a53a8;
    transform: scale(1.03);
  }
  &__img {
    margin-bottom: 30px;
  }
  &__list--title {
    color: var(--title-color);
    text-align: center;
    @include text-main-style(16px 400 normal 0.48px);
    margin-bottom: 10px;
  }
  &__text {
    color: var(--text-color);
    text-align: center;
    @include text-main-style(16px 400 normal 0.48px);
    margin-bottom: 16px;
  }
  &__list--social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__link:hover,
  &__link:focus {
    background-color: #2196f3;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 30px;
    fill: #afb1b8;
    transition: background-color 250ms ease-in-out;
  }

  &__link:hover,
  &__link--social:hover,
  &__link:focus,
  &__link--social:focus {
    fill: white;
  }

  &__link--social {
    width: 20px;
    height: 20px;
    transition: fill 250ms ease-in-out;
  }
}
