ul {
list-style: none;
  margin: 0px;
  padding: 0px;
}
p, h1, h2, h3 {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}